body {
font-family: Georgia, 'Times New Roman', serif;
font-size: 14px;
line-height: 20px;
font-weight: normal;
color: #222222;
margin: 0px;
background-color: dimgrey;
}
#canvasWrapper {
margin-bottom: 20px;
/* width: 991px; */
padding: 0 20px 0 20px;
margin-right: auto;
margin-left: auto;
margin-top: 0px;
margin-bottom: 0px;
background-color: #FFFFFF;
border-color: #E1E1E1;
overflow: hidden;
}
#bannerWrapper {
background-color: #FFFFFF;
border-color: #E1E1E1;
line-height: 0;
}
img {
border: 0 none;
/* align-content: center; */
-ms-interpolation-mode: bicubic;
}
#navigationBottom {
background-color: #222;
display: block;
height: 55px;
}
.horizontalNavigationBar {
margin: 0 0 0 15px;
}
.horizontalNavigationBar .content-navigation {
float: right;
}
.horizontalNavigationBar ul {
list-style-type: none;
padding: 0;

}
.horizontalNavigationBar ul li {
float: left;
padding: 0;
display: inline;

}
.horizontalNavigationBar a {
font-family: Arial, Helvetica, Geneva, sans-serif;
font-size: 15px;
border-right: 1px solid #444444;
text-transform: uppercase;
font-weight: normal;
text-decoration: none;
padding-right: 40px;
margin-left: 40px;
margin-top: 18px;
color: #FFFFFF;
border-color: #444444;
}
.horizontalNavigationBar .module a:hover {
color: #B1B1B1;
}
#page {
clear: both;
margin-top: 20px;
}
#sidebar1 {
overflow: hidden;
}
#sidebar1Wrapper {
margin-bottom: 20px;
display: block;
float: left;
}
#canvasWrapper, #content, #sidebar1, #sidebar2 {
overflow: hidden;
/* background-color: antiquewhite; */
}
.verticalNavigationBar .section .caption {
font-family: 'Times New Roman', Palatino, serif;
font-size: 14px;
border-bottom: 1px solid #E1E1E1;
text-transform: uppercase;
letter-spacing: 1px;
line-height: 18px;
padding-left: 0px;
padding-top: 14px;
padding-bottom: 16px;
margin-bottom: 17px;
color: #4A4A4A;
border-color: #E1E1E1;
}
.verticalNavigationBar .section {
font-family: Arial, Helvetica, Geneva, sans-serif;
font-size: 11px;
border-top: 3px solid #E1E1E1;
line-height: 16px;
padding-top: 0px;
padding-bottom: 3px;
margin-bottom: 2px;
color: #4A4A4A;
border-color: #E1E1E1;
}
p {
margin-bottom: 1em;
margin-top: 0em;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.verticalNavigationBar .section .content {
font-family: 'Times New Roman', Palatino, serif;
font-size: 14px;
border-bottom: 1px solid #E1E1E1;
text-transform: uppercase;
letter-spacing: 1px;
line-height: 18px;
padding-left: 0px;
padding-top: 14px;
padding-bottom: 16px;
margin-bottom: 17px;
color: #4A4A4A;
border-color: #E1E1E1;
}
#sidebar1 > div > div.content > a {
color: black;
text-decoration: none;
cursor: auto;
padding-right: 100px;
padding-top: 30px;
padding-bottom: 20px;
}
#contentWrapper {
padding-bottom: 20px;
float: right;
width: 920px;
border-left: 1px solid #e1e1e1;
padding-left: 30px;
}
#contentWrapper > div {
border-top: 3px solid #e1e1e1;
padding-top: 12px;
}
#contentWrapper > div > div {
box-shadow: none;
padding-right: 0px;
padding-left: 8px;
padding-bottom: 20px;
padding-top: 20px;
margin-bottom: 25px;
border: 0px !important;
/*background-color: #eee;*/
font-family: 'Times New Roman', Palatino, serif;
font-size: 28px;
letter-spacing: 1px;
line-height: 18px;
color: #4A4A4A;
}

#contentWrapper > div > div > div > div > span {
margin-right: 10px;
margin-bottom: 10px;
}
#focusedInput {
margin-top: 4px;
width: 400px;
height: 25px;
margin-bottom: 20px;
border-width: thin;
border-color: rgb(31, 28, 22);
padding-left: 10px;
font-family: monospace;
}
textarea {
margin-top: 4px;
width: 390px;
height: 144px;
margin-bottom: 20px;
border-color: rgb(31, 28, 22);
padding: 10px;
}
hr {
margin-right: 35px;
border-width: 2px;
}
.btn {
background-color: rgb(220, 222, 226);
width: 75px;
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid rgba(41, 37, 9, 0);
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
/* border-radius: 4px; */
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
#contentWrapper > div > div:nth-child(2) > div {
margin-bottom: 40px;
}
#pageFooterWrapper {
padding-top: 10px;
background-color: black;
clear: both;
color: white;
}
#pageFooter {
margin-top: 10px;
padding-top: 20px;
font-size: 22px;
padding-left: 20px;
padding-bottom: 10px;
}
#pageFooter > div.copyright {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.428571429;
}
#contentWrapper > div > div:nth-child(2) > div.domain > label:nth-child(1) > button {
float: right;
margin-right: 30px;
height: 25px;

}

#login {
background: #fff;
color: #333;
line-height: 1.28;
margin: 0;
padding: 0;
text-align: left;
direction: ltr;
unicode-bidi: embed;
}
#login > div.signin {
height: 140px;
min-width: 980px;
}
#login > div.signup {
background: rgba(0,0,0,0.9);
height: 500px;
color: white;
font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
}
#clearfix {
margin: 0 auto;
padding-top: 13px;
width: 980px;
zoom: 1;
}
#clearfix > div {
float: left;
}
#clearfix > div.signin_frm {
float: right;
padding: 30px;
}
.pvl {
padding-top: 20px;
width: 980px;
margin: 0 auto;
padding-bottom: 20px;
}
.sidebnr {
/* width: 565px; */
display: inline-block;
vertical-align: top;
float: left;
}
.sidergt {
width: 399px;
display: inline-block;
vertical-align: top;
float: right;
}
.input1 {
width: 172px;
font-size: 18px;
padding: 8px 10px;
border-color: #bdc7d8;
-webkit-border-radius: 5px;
margin: 0;
/* background-color: white; */
position: relative;
text-color: white;
border: 1px solid #bdc7d8;
}
.input2 {
font-size: 18px;
padding: 8px 8px;
border-color: #bdc7d8;
-webkit-border-radius: 5px;
margin: 0;
width: 377px;
/* background-color: transparent; */
position: relative;
border: 1px solid #bdc7d8;
margin-top: 10px;
}
.radisetsex {
display: inline-block;
margin-top: 10px;
position: relative;
}
#login > div.signup > div > div.sidergt > div.main_up > form > div.radisetsex > span.sx {
margin-right: 4px;
-webkit-border-radius: 4px;
border-width: 1px;
display: inline-block;
padding: 5px 0 5px 4px;
zoom: 1;
}
.sxin {
font-size: 18px;
font-weight: normal;
line-height: 18px;
padding: 0 10px 0 3px;
}
.cstmbtn1 {
background-color: #CBCFC9;
-webkit-box-shadow: inset 0 1px 1px #F3F2EA;
border-color: #DDE2DB #D8DFD5 #C7CCC4;
background: -webkit-linear-gradient(top, #F0F1EA, #DFE6DD);
text-decoration: none;
font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
font-weight: normal !important;
text-rendering: optimizelegibility;
margin-top: 10px;
margin-bottom: 10px;
min-width: 194px;
padding: 7px 20px;
text-align: center;
font-size: 19px;
line-height: 126%;
border: 1px solid;
-webkit-border-radius: 5px;
color: #141111;
cursor: pointer;
display: inline-block;
letter-spacing: 1px;
position: relative;
text-shadow: 0 1px 2px rgba(0,0,0,.5);
margin-top: 25px;
}
.edit {

}
#contentWrapper > div > div:nth-child(2) > div.domain {
margin-bottom: 20px;
}
.domain {
margin-bottom: 20px;
margin-right: 10px;
margin-top: 10px;
}
.tag {
font-size: 22px;
}
.userfilter {
font-size: initial;
padding: 10px;
margin-right: 20px;
}
.searchtop {
float: left;
padding-top: 10px;
}
.navbar-filter {
padding-bottom: 10px;
}
#banner {
margin-left: 130px;
}